In [4]:
import os
from IPython.display import display, Markdown
import pandas as pd

from file_reader import read_activities

in_progress_file = "in-progress-2020-12-12.xlsx"
completed_file = "completed-2020-12-12.xlsx"

path = os.path.join("..", "..", "Data")

in_progress = read_activities(os.path.join(path, in_progress_file))
completed = read_activities(os.path.join(path, completed_file))

In [41]:
book_1_in_progress = in_progress[in_progress["sc_1_reflections_on_the_life_of_the_spirit"] == "In Progress"]

book_1_in_progress["start_date_2"] = pd.to_datetime(book_1_in_progress["start_date"])

book_1_in_progress = book_1_in_progress[book_1_in_progress["start_date_2"] > "2020-05-31"]
book_1_in_progress["Started"] = 1

b1_j1_started = book_1_in_progress[["grouping", "cluster_name", "Started"]]

In [45]:
book_1_completed = completed[completed["sc_1_reflections_on_the_life_of_the_spirit"] != ""]

book_1_completed["start_date_2"] = pd.to_datetime(book_1_completed["start_date"])
#book_1_completed["end_date_2"] = pd.to_datetime(book_1_completed["end_date"])
book_1_completed = book_1_completed[book_1_completed["start_date_2"] > "2020-05-31"]
book_1_completed["Completed"] = 1

b1_j1_completed = book_1_completed[["grouping", "cluster_name", "Completed"]]

In [47]:
combined = pd.concat([b1_j1_started, b1_j1_completed])
combined.fillna(0, inplace=True)
combined = combined.astype({"Started": "int", "Completed": "int"})

In [48]:
display(Markdown("# Book 1 Since June 1"))
display(Markdown(f"## Total Count in Region"))

region = combined.sum()
display(Markdown(f"Started: {region['Started']}, Completed: {region['Completed']}"))

display(Markdown("## Count by Grouping"))
grouped = combined[["grouping", "Started", "Completed"]].groupby(by=["grouping"])
display(grouped.sum())

display(Markdown("## Count by Cluster"))
grouped = combined.groupby(by=["grouping", "cluster_name"])
display(grouped.sum())

# Book 1 Since June 1

## Total Count in Region

Started: 55, Completed: 20

## Count by Grouping

                      Started  Completed
grouping
Arkansas                    4          0
Arlington Mid-Cities       11          3
Austin                      5          2
Dallas                     10          5
Harris                      7          4
Metrocrest                  5          2
Oklahoma                    3          3
San Antonio                10          1

## Count by Cluster

                                                Started  Completed
grouping             cluster_name
Arkansas             Hot Springs Area                 1          0
                     Little Rock Area                 1          0
                     Springdale Area                  2          0
Arlington Mid-Cities Arlington Mid-Cities             6          1
                     Fort Worth City                  0          1
                     North Central                    1          0
                     Northeast Tarrant County         2          1
                     Waco Area                        2          0
Austin               Austin Area                      3          0
                     Greater Williamson County        1          2
                     San Angelo Sphere                1          0
Dallas               Amarillo Area                    1          0
                     Dallas City                      2          3
                     Ellis-Navarro-Kaufman            1          0
                     Northeast Dallas County          1          0
                     Rockwall County                  2          2
                     Tyler Area                       3          0
Harris               Harris County Central            3          1
                     Harris County East               1          0
                     Harris County West               2          2
                     Montgomery County                1          1
Metrocrest           East Collin                      1          0
                     Plano City                       1          2
                     West Collin                      3          0
Oklahoma             Enid                             1          1
                     Miami                            1          0
                     Tulsa                            1          2
San Antonio          Corpus Christi Area              2          0
                     Rio Grande Valley                4          1
                     San Antonio Area                 4          0